@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
body {
    background: url(https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-color: #f4f4f9;  
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.capa {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c7c7c7;
    z-index: -1;
    top: 0;
    left: 0;
}

/* Estilos para el encabezado */
.header{
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: #035718;
    top: 0;left: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu, .logo {
    float: left;
    line-height: 100px;
}

.container .btn-menu label {
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
}

.logo img {
    color: #000000;
    align-items: center;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}

.container .menu {
    float: right;
    line-height: 100px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #063a11;
    padding-bottom: 5px;
}

/* Fin de estilos para el encabezado */

/* Menú lateral */
#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #063a11;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* Fin de Menú lateral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
	margin-top: 120px;
    background-color: #fff;
    border-radius: 8px;
}

.main-title {
    text-align: center;
    color: #4CAF50;
}

.subtitle {
    text-align: center;
    font-style: italic;
    color: #666;
    margin-top: 5px;
    margin-bottom: 30px;
}

.product-image {
    text-align: center;
    margin-bottom: 20px;
}
.product-image img {
    width: 600px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
    object-fit: cover; /* Para mantener la proporción y cubrir el contenedor */
    border-radius: 8px; /* Opcional: agregar borde redondeado */
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
   padding: 10px;
	
}

.container {
    padding: 5px;
}
.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.video {
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content:space-around;
    align-items: center; 
    padding:10px;
}