@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background: url(https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg);
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #c0c0c0;
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 90px;
		position: fixed;
		background-color: #035718;
		top: 0;left: 0;
	}
	.container{
		
		width: 95%;
		max-width: 1200px;
		height: 60px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
		
	}
	.container .btn-menu label{
		color: #000000;
		font-size: 25px;
		cursor: pointer;
	}
	.logo {
		padding: 0px;
		margin-bottom: 1px;
	}
	
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #000000;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #063a11;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #063a11;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #000000;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/
    main {
        padding: 20px;
        margin-top: 150px;
    }
    .form {
        background-color: #028f25;
        width: 90%;
        max-width: 400px;
        margin: auto;
        border-radius: 1rem;
        padding: 3.5rem 1.5em;
      }
      .form_container {
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;
      }
      .form_title {
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: 0.4em;
      }
      .form_input {
        font-family: inherit;
        font-size: 1rem;
        padding: 0.8em 1em;
        outline: none;
        border: none;
        border: 1px solid #000000;
        border-radius: 0.2em;
      }
      .form_input_message {
        resize: none;
        padding: 1.8em 1em;
        margin-bottom: 0.5em;
      }
      .form_cta {
        font-family: inherit;
        background-color: #089fe0;
        color: #ffffff;
        border: none;
        font-weight: 300;
        font-size: 1rem;
        padding: 0.7em 0;
        border-radius: 0.2em;
        cursor: pointer;
        font-weight: 400;
      }
      @media (max-width 450px;){
        .form {
          padding: 3.5em 1em;
        }
      }  